{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="contaier-fluid">

        <div class="d-flex justify-content-between w-100 px-5 py-2">
            
            <div class="bg-black px-4 py-2 rounded">
                <h1 class="text-white">Hello {{user_name}} </h1>
            </div>
    
            <div class="">
                
                    <a class="btn btn-dark" href="{% url 'logout' %}">
                        Logout
                    </a>
                    <a href="{% url 'contact' %}">contact</a>
                
            </div>
        </div>
    
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

